/* 
    Created on : 28-Nov-2019, 14:53:02
    Author     : HaAnh
*/

*{
    box-sizing: border-box;
}

a {
    color: inherit;
}

ul {
    list-style-type: none;
    text-decoration: none;
    font-size: 120%;
    margin: 0;
    padding: 0;
}
.table-records thead {
    font-size: 110%;
}
.table-records td, .table-records th {
    padding: 5px;
}
h1 a {
    text-decoration: none;
}
h3 {
    margin: 5px 0;
}
/******************************
***********BACKGROUND**********
*******************************/
.box-welcome {
    color: forestgreen;
    font-size: 110%;
}
.list-top-navigation {
    font-size: 90%;
    position: absolute;
    top: 0px;
    right: 10px;
}
.list-top-navigation li {
    display: inline-block;
    padding: 10px 0;
    margin-right: 10px;
}
.list-function li {
    display: inline-block;
    padding: 10px 0;
    margin-right: 10px;
}
/******************************
***********PAGE HOME***********
*******************************/
.active, .active-user, .inactive, .inactive-user {
    font-weight: bold;
    font-size: 95%;
}
.active, .active-user {
    color: green;
}
.inactive, .inactive-user {
    color: tomato;
}
.show-input-err {
    color: red;
}
.message {
    font-size: 120%;
    color: green;
}
.delete-link {
    color: tomato;
}

/*HOME PAGE*/
.col {
    display: inline-block;
    margin: 0 10px 0 0;
}
.my-1-of-4 {
    width: 22.5%;
}
.product {
    padding: 10px;
}
.product img{
    height: 200px;
    max-width: 98%;
}
